export default {
    language: {
    },
    modules: {
        translate: {
            yandexTranslateApiKey: '42141'
        }
    },
    utils: {
        mongo: {
            connectionString: 'mongodb://localhost:27017/alice'
        },
        telega: {
            token: '4142:4214124421'
        }
    },
    models: {
        mail: {
            emailTransport: {
                host: 'smtp.gmail.com',
                port: 465,
                secure: true,
                auth: {
                    user: '43242@gmail.com',
                    pass: '43242'
                }
            },
        }
    }
}
