.cart-avatar {
  font-size: 41px;
  float: right;
  margin: auto;
}

.row {
  div {
    margin-bottom: 30px;
  }
}

mat-card-content {
  button {
    margin-right: 10px;
  }
}

.console {
  mat-card {
    padding-top: 0;
    background: black;
    height: 450px;
    color: white;
    mat-form-field {
      width: 100%;
    }
    .content {
      div {
        margin-bottom: 5px;
      }
    }
  }
}
